div.juvia-comment div.juvia-metadata {
  background-image: none;
  background: #222;
}

div.juvia-preview-content {
  background: #333;
  border: 1px solid #222;
}

div.juvia-topic h3 {
  font-size: 1.5em;
}

div.juvia-topic h4 {
  font-size: 1.5em;
}

div.juvia-comment-content pre, div.juvia-preview-content pre {
    background: #002b36 url('/images/noise.png?1368826778') top left;
    color: #93a1a1;
    border: 1px solid #05232b;
    border-radius: 0.4px;
}
